@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #020617;
  /* Default slate-950 to match the app */
  color: white;
  font-family: Inter, system-ui, sans-serif;
  overflow-x: hidden;
}